/* RIGHT (Hover Preview Gallery) */
.right {
  position: relative;
  overflow: hidden;
  background: #fff;
}

.gallery {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-bottom: var(--runfooter-h);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.gallery-item {
  margin: 0;
  padding: 0;
  height: calc(100vh - var(--topbar-h));
  display: grid;
  place-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    outline: none;
  }
}
